 <section class="user-project">
	<div class="projectNavbar innerHeader navbar mb-4">
		<ng-container *ngIf="miniProjectArr">
		<app-search-component [authUser]='loggedInUser' [ArrayData]="miniProjectArr"></app-search-component>
		</ng-container>
		<div class="float-right">
			<a routerLink="addProject" class="btn btn-primary" >Create Project</a>
		</div>
	</div>	
	<div>
		<router-outlet  (activate)="routeActivate($event)"></router-outlet>		
	</div>	
	<!-- <app-pagination [ArrayData]='miniProjectArr' [itemPerpage]="5" (nextPage)="nextPages($event)"></app-pagination> -->
</section>