.mainBanner{
	background-color:#222629;
	position: relative;
	min-height: 600px;
}

.mainBanner .headingText{
	color:#86c232;
	line-height: 60px;
}

.mainBanner .headingText_para{
	color:#fff;
	line-height: 40px;
	font-size:20px;
}

.homeLogin{
	color:#2542d2;
	/*box-shadow: 1px 1px 1px 1px*/
}
.mainBanner .maintext{
	font-size:50px;
}
.search-bar{
	position: absolute;
	bottom: -100px;
	background:#fff;
	padding:10px 20px;
	left: 30%;
    right: 30%;
}