<section class="mainBanner p-5">
	<div class="container">
		<div class="row">			
			<ng-container *ngIf="!isLogin; else isNotLogin">
				<div class="col-md-8"> 
					<h1 class="headingText maintext mt-3 mb-4">
					    MANAGE YOUR PROJECT QUICKLY  
						WITH QUICK TASK
					</h1>
					<h3 class="headingText_para mb-5">This is a Project management system
						,made in Angular6 and bootstrap 4</h3>
				</div>
					<div class="col-md-4 p-0">
						<app-login [isHome]='isHome' #login></app-login>
					</div>
			</ng-container>
			<ng-template #isNotLogin>
				<div class="col-md-12 text-center"> 
					<h1 class="headingText maintext mt-5 mb-4">
					    MANAGE YOUR PROJECT QUICKLY  
						WITH QUICK TASK
					</h1>
					<h3 class="headingText_para mb-5">This is a Project management system
						,made in Angular6 and bootstrap 4</h3>
				</div>
			</ng-template>			
		</div>
	</div>			
</section>