	<div class="col-md-12">
		<input type="file" name="file" ng2FileSelect [uploader]="uploader" />
		<button type="button" class="btn btn-success btn-s" 
		  (click)="uploader.uploadAll()" 
		  [disabled]="!uploader.getNotUploadedItems().length" >
		      Upload an Image
		</button>
	</div>

