<section class="projectView">
	<div class="projectToppart">
		<div class="container">			
				<div class="projectInfo">
					<div class="row">
						<div class="col-md-2">						
							<p class="team text-center info">
								<span class="dBlock qty">{{project?.team.length}}</span>
								<span class="dBlock">Team</span>
							</p>
						</div>
						<div class="col-md-2">
							<p class="member text-center info">
								<span class="dBlock qty">{{project?.member.length}}</span>
								<span class="dBlock">Member</span>
							</p>
						</div>
						<div class="col-md-2">
							<p class="admin text-center info">
								<span class="dBlock qty">{{project?.admin.length}}</span>
								<span class="dBlock">Admin</span>
							</p>
						</div>
						<div class="col-md-2">
							<p class="started text-center info">
								<span class="dBlock date">{{project?.startDate}}</span>
								<span class="dBlock">Started</span>
							</p>
						</div>
						<div class="col-md-2">
							<p class="started text-center info">
								<span class="dBlock date">{{project?.dueDate}}</span>
								<span class="dBlock">Due date</span>
							</p>
						</div>
						<div class="col-md-2">
							<p class="started text-center info">
								<span class="dBlock date">{{project?.task.length}}</span>
								<span class="dBlock">Task</span>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>		
				</div>			
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<div class="projectHeader p-3">					
						<div class="float-left">
							<p class="projectName">{{project?.title}}</p>
						</div>	
						<div class="float-right">
							<span class="backlog p-1" *ngIf="project?.status == 'backlog'">backlog</span>
							<span class="inprogress p-1" *ngIf="project?.status == 'inprogress'">inprogress</span>
							<span class="close p-1" *ngIf="project?.status == 'close'"> close </span>
						</div>
						<div class="float-right mr-3" *ngIf='is_admin'>
							<a routerLink="addTask" class="btn btn-primary">Add task</a>
						</div>
						<div class="clearfix"></div>	
						<hr class="mb-4">
						<div class="description">
							<p>{{project?.desc}}</p>
						</div>	
						<hr class="mt-4 mb-4">		
				</div>	
			</div>
			<div class="col-md-12">
				<div class="projectBody p-3">
								
				</div>
			</div>
			<div class="col-md-12">
				<div class="ngSection mt-2 mb-2 p-2 backWhite">
					<h4>Task</h4>
					<hr>
					<ng-container *ngIf="project?.task.length > 0">
								<div class="projectsInfo ngItemList">									
									<ul class="ngUl">
										<ng-container *ngFor="let task of project?.task">
											<li class="borderBottom"><span>{{task.task_name}}</span><span class="float-right btn btn-primary" (click)="openTask(task.task_id)">View</span></li>
										</ng-container>
									</ul>
								</div>
					</ng-container>
				</div>
			</div>
			<div class="col-md-8">
				
			</div>

			<div class="col-md-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>