
.projectView .projectHeader{
	background:#fff;
}

.projectView .projectHeader .projectName{
	font-size:18px;
	font-weight: bolder;	
}

.projectView .projectHeader .backlog{
	background:#ffbc00;
	border-radius:5px;
	color:#fff;
	font-weight: bolder;
	font-size:14px;
	vertical-align: -5px;
}
.projectView .projectHeader .inprogress{
	background:#689F38;
	border-radius:5px;
	color:#fff;
	font-weight: bolder;
	font-size:14px;
	vertical-align: -5px;
}
.projectView .projectHeader .close{
	background:#B71C1C;
	border-radius:5px;
	color:#fff;
	font-weight: bolder;
	font-size:14px;
	vertical-align: -5px;
}

.projectView .projectBody{
	background:#fff;
}

.projectView .projectBody .info span.qty{
	font-size:24px;
}
.projectView .projectToppart{
	background: #fff;
    box-shadow: -1px 3px 10px 0px;
    z-index: 107;
    position: relative;
    color: #eaeaea;
    padding: 24px;
    padding-top: 30px;
}

/*.projectView .projectToppart .info{
    background-color:#f21692;
	border-radius:5px;
	padding:15px 10px;
}*/


.projectView .projectToppart .info span{
	font-size:20px;
	line-height:30px;
	font-weight:normal;
	color:#000;
}



