<section class="registration">
	<div class="container">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6 col-sm-6 form-white mt-5">
				<h3 class="text-center mb-2 mt-2">User Registration form</h3>
				<form (ngSubmit)="registration(f)" #f=ngForm>
					<div class="form-group">
						<label>User Full Name</label>
						<input type="text" name="userName" class="form-control" required minlength="=4" ngModel #name='ngModel'>
						<div  *ngIf="f.submitted">
							<div *ngIf='name.invalid' class="alert alert-danger	mt-3 p-1 pl-2">
								<div *ngIf="name.errors.required">Name is required</div>
								<div *ngIf="name.errors.minlength">
								    Name must be at least 4 characters long.
								</div>
							</div>
						</div>												
					</div>
					<div class="form-group">
						<label>Username</label>
						<input type="text" name="userNiceName" class="form-control" required  ngModel #username="ngModel">
						<div  *ngIf="f.submitted">
							<div *ngIf='username.invalid' class="alert alert-danger mt-3 p-1 pl-2">
								<div *ngIf="username.errors.required">Username is required</div>
								
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>User email</label>
						<input type="email" name="userEmail" class="form-control" required ngModel #userEmail='ngModel'>
						<div  *ngIf="f.submitted">
							<div *ngIf='userEmail.invalid' class="alert alert-danger mt-3 p-1 pl-2">
								<div *ngIf="userEmail.errors.required">User email is required</div>
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>User password</label>
						<input type="password" name="userPassword" class="form-control" required ngModel #userPassword="ngModel">
						<div  *ngIf="f.submitted">
							<div *ngIf='userPassword.invalid' class="alert alert-danger mt-3 p-1 pl-2">
								<div *ngIf="userPassword.errors.required">User password is required</div>
								
							</div>
						</div>
					</div>					
					<div class="form-group">
						<input type="submit" name="submit" class="form-control btn btn-primary">
					</div>
				</form>
				<div class="loginLink mt-3 text-center">
					<a routerLink="/login">Already have account.Go to Login</a>
				</div>
			</div>	
			<div class="col-md-3">&nbsp;</div>
		</div>
	</div>
</section>