.angularNavbar.navbar {
	/*min-height: 80px;*/
    padding: 0px;
	background-color:#222629;
	color: #062f4f;
    /*box-shadow: 0px 0px 5px 0px;  */
    position: relative;
    z-index: 99;
    min-height: 100px;
}

.angularNavbar.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
    font-size: 14px;
    padding: 0px 15px;
}
.angularNavbar.navbar-dark .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0px;

}
.angularNavbar.navbar-dark .navbar-nav .nav-link:hover{
    color:#fff;
}

.angularNavbar.navbar-dark .navbar-nav .nav-link.ng-nav-link{
	padding:5px 35px;
	border-radius:100px;
	background:#813772;
	border:none;
}
.navbar-brand img{
	width:150px;
}

.angularNavbar app-searchbar{
	width:40%;
}

.angularNavbar .navbar-nav .nav-item{
	position: relative;
}
.angularNavbar .navbar-nav .nav-item .ng-dropdown-menu{
position: absolute;
    background-color: #ffffff;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;    
    box-shadow: 0px 1px 3px 0px;
    color: #4563f7;
    border-radius: 3px;
    padding: 10px 0px;
}