<header #homeheader>
<nav class="navbar navbar-expand-sm navbar-dark angularNavbar">
  <span class="container">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">Quicktask</a>
  <!-- <app-searchbar class="mt-3"></app-searchbar> -->
  <!-- Links -->
  <ul class="navbar-nav">
     <li class="nav-item">
        <a class="nav-link"  routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/">Contact us</a>
    </li>
    <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link"  routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link"  routerLink="/registration">Register</a>
    </li>
    <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="javascript:void(0)" (click)=logout()>Logout</a>
    </li>
    <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="javascript:void(0)" routerLink='/dashboard/{{userId}}'>My account</a>
    </li>
<!--     <ng-container *ngIf="!isLogin">
    <li class="nav-item">
      <a class="ng-nav-link nav-link btn btn-primary" (click)="showDropDown()">Get in</a>
       <div class="ng-dropdown-menu" *ngIf="showDropdown">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" routerLink="/registration">Registration</a>          
       </div>
    </li>
    <li class="nav-item">      
    </li>
   </ng-container> -->    
  </ul>
</span>
</nav>
</header>
