.addProject{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#302a42b5;
	z-index: 9999999999999999999999;
}
.addProject .form-white{
	width: 50%;
    display: block;
    margin: 10% auto;
}
.addProject .form-white .cross{
	cursor: pointer;
}
