<div class="addTask p-3">
	<form (ngSubmit)=addTask(f) #f=ngForm>
		<div class="form-group">
			<label>Task name</label>
			<input type="text" name="taskName" ngModel class="form-control" >
		</div>
		<div class="form-group">
			<label>Task Description</label>
			<textarea class="form-control" name="desc" ngModel></textarea>
		</div>
		<div class="form-group">
			<label>Due date</label>
			<input type="date" name="dueDate" class="form-control" ngModel>
		</div>		
		<div class="form-group">
			<input type="submit" name="Submit"  ngModel class="form-control btn btn-primary">
		</div>		
	</form>
</div>
