.input-group-text.searchbarBtn{
	border-radius: 50px;
    background:none;
    border: none;
    color: #000;
}
.headerSearchBar .searchbarInput{
	border-radius: 50px;
    background: none;
    border: none;
    color: #000;
}
.searchbarInput::placeholder{
	color:#000;
}
.headerSearchBar .input-group{
	border-radius: 50px;
    background: none;
    border: 2px solid #000;
}
.headerSearchBar{
	position: relative;
}
.headerSearchBar .autoSearch{
	position: absolute;
	top:45px;
	left:0px;
	right:0px;
	padding:10px;
	background:#fff;
	z-index: 1;
}