<div class="headerSearchBar">
	<form>
		<div class="input-group mb-3">		  
		  <input type="text" #searchInput class="form-control searchbarInput" placeholder="Search user" aria-label="Username" aria-describedby="basic-addon1" name="name" (input)="valueChanges($event.target.value)"  [formControl]= userSearchQuery autocomplete="off">

		 <!--  <div class="input-group-prepend">
		    <button class="input-group-text searchbarBtn" type="submit" id="basic-addon1">@</button>
		  </div> -->
		</div>
	</form>
	<ng-container *ngIf="userFound">
		<div class="autoSearch">
			<ng-container *ngFor="let user of userArr">
					<p><a href="javascript:void" (click)="addUser(user.id,user.userName,selection_type)">{{user.userName}}</a></p>
			</ng-container>
		</div>
	</ng-container>
</div>
