<section class="projectQuickView">
	<div class="view">
		<div class="quickView_heading p-3">
			<p class="float-left mb-0">Project details</p>
			<p class="cross float-right mb-0" (click)="getBack()"><fa-icon [icon]="faTimes"></fa-icon></p>
		<div class="clearfix"></div>			
		</div>
		
			<div class="details p-3">				
				<form #f="ngForm" (ngSubmit)="saveData(f,'title',project.id)" novalidate>
					<div class="projectInfo">
						<h2 class="d-inline-block">{{project?.title}}</h2>					
						<span  class="float-right addBtn" (click)="showEditmode('title',f)" *ngIf="!editModeTitle"><fa-icon [icon]="faPen"></fa-icon></span>
					</div>
					<!-- EDIT MODE -->
					<div class="editMode" *ngIf="editModeTitle">
						<input type="text" name="project_title"  ngModel required #projectTitle="ngModel" placeholder="Set new Title Here" class="form-control">
						<div  *ngIf="f.submitted">
							<div *ngIf='projectTitle.invalid' class="alert alert-danger mt-3 p-1 pl-2">
								<div *ngIf="projectTitle.errors.required">Title is required</div>
							</div>
						</div>
						<div class="editBtn">
							<button type="submit" class="btn btn-small mt-2 mb-2 mr-2 btn-success">Save</button>
							<button class="btn btn-small m-2 btn-danger" (click)="cancelEditMode('title',f)">Cancel</button>
						</div>
					</div>
				</form>
				<!-- EDIT MODE -->
				<hr>
				<form #f2="ngForm" (ngSubmit)="saveData(f2,'desc',project.id)" novalidate>
					<div class="projectDescription">
						<div class="projectInfo">
							<p class="d-inline-block desc">{{project?.description}}</p>								
							<span *ngIf="!editModeDesc" class="float-right addBtn" (click)="showEditmode('desc',f)"><fa-icon [icon]="faPen"></fa-icon></span>
						</div>
											
						<!-- EDIT MODE -->
						<div class="editMode" *ngIf="editModeDesc">
							<textarea type="text" ngModel required #projectDesc="ngModel" name="project_desc" class="form-control">{{project?.description}} </textarea>
							<div  *ngIf="f2.submitted">
								<div *ngIf='projectDesc.invalid' class="alert alert-danger mt-3 p-1 pl-2">
									<div *ngIf="projectDesc.errors.required">Description is required</div>
								</div>
							</div>
							<div class="editBtn">
								<button class="btn btn-small mt-2 mb-2 mr-2 btn-success">Save</button>
								<button class="btn btn-small m-2 btn-danger" (click)="cancelEditMode('desc',f2)">Cancel</button>
							</div>
						</div>
						<!-- EDIT MODE -->
					</div>
				</form>
				<hr>
				<div class="dates">
					<p><b>Project Start date: </b><span> {{project?.startDate}} </span></p>				
				</div>
				<hr>
				<form #f3="ngForm" (ngSubmit)="saveData(f3,'duedate',project.id)" novalidate>
					<div class="dates">
							<div class="projectInfo">
								<p class="float-left"><b>Project Due date: </b><span> {{project?.dueDate}} </span></p>								
								<span *ngIf="!editModeDueDate" class="float-right addBtn" (click)="showEditmode('duedate')"><fa-icon [icon]="faPen"></fa-icon></span>
							</div>
							<!-- EDIT MODE -->
							<div class="editMode" *ngIf="editModeDueDate">
								<input type="date" ngModel required #projectDuedate="ngModel"  name="project_duedate" class="form-control">
								<div  *ngIf="f3.submitted">
									<div *ngIf='projectDuedate.invalid' class="alert alert-danger mt-3 p-1 pl-2">
										<div *ngIf="projectDuedate.errors.required">Due date is required</div>
									</div>
								</div>
								<div class="editBtn">
									<button class="btn btn-small mt-2 mb-2 mr-2 btn-success">Save</button>
									<button class="btn btn-small m-2 btn-danger" (click)="cancelEditMode('duedate',f3)">Cancel</button>
								</div>
							</div>
							<!-- EDIT MODE -->
				
					</div>
				</form>
				<div class="clearfix"></div>
				<hr>

				<div class="task">
					<p><b>Total task: </b><span> {{project?.task_count}} </span></p>				
				</div>
				<hr>
				<form #f4="ngForm" (ngSubmit)="saveData(f4)" novalidate>
					<div class="projects_member">
						<div>
							<p class="float-left"><b>Total member: </b> <span> {{project?.member_count}} </span></p>
							<span class="float-right addBtn" (click)="showEditmode('member')"><fa-icon [icon]="faPlus"></fa-icon></span>
						</div>
						<div class="clearfix"></div>
						<hr>
						<div class="memberContainer">
							<ng-container *ngFor="let member of project?.total_member">
									<div class="eachmember  m-2">
										<span class="img mr-2"> 
											<ng-container *ngIf="member.user_image; else noImage">
												<img src="{{member.user_image}}">
											</ng-container>
											<ng-template #noImage>
												<img src="assets/img/no-img.png">
											</ng-template> 										
										</span> 
										<span>{{member?.member_name}}</span>
										<ng-container *ngIf="loggedInUser && member.member_id !== loggedInUser">
											<span class="float-right cross" (click)="deleteMember(member.member_id,project.id)"><fa-icon [icon]="faMinusCircle"></fa-icon></span><span class="clearfix"></span>
										</ng-container>
									</div>
							</ng-container>
						</div>						
						<div class="editMode" *ngIf="editModeMember">
							<app-searchbar [ArrayData]="searchedUser" (valueChange)="query($event)" [selection_type]="'member_selection'" (addedMember)="addMember($event,project.id,'member_selection')"></app-searchbar>					
							<!-- <div class="editBtn">
								<button class="btn btn-small mt-2 mb-2 mr-2 btn-success" (click)='AddMemebr()'>Save</button>
								<button class="btn btn-small m-2 btn-danger" (click)="cancelEditMode('member')">Cancel</button>
							</div> -->
						</div>
					</div>
				</form>
				<hr>
				<form #f5="ngForm" (ngSubmit)="saveData(f5)" novalidate>
					<div class="admin">
						<div>
							<p class="float-left"><b>Total admin: </b> <span> {{project?.admin_count}} </span></p>
							<span class="float-right addBtn"><fa-icon [icon]="faPlus"></fa-icon></span >
						</div>
						<div class="clearfix"></div>
						<hr>
						<ng-container *ngFor="let admin of project?.total_admin">
								<div>
									<p> {{admin?.admin_name}} </p>
								</div>
						</ng-container>
					</div>
					<div class="editMode" *ngIf="editModeMember">
							<app-searchbar [ArrayData]="addAdmin" (valueChange)="getMember($event)" [selection_type]="'admin_selection'" (addedMember)="addMember($event,project.id,'admin_selection')"></app-searchbar>					
							<!-- <div class="editBtn">
								<button class="btn btn-small mt-2 mb-2 mr-2 btn-success" (click)='AddMemebr()'>Save</button>
								<button class="btn btn-small m-2 btn-danger" (click)="cancelEditMode('member')">Cancel</button>
							</div> -->
					</div>
				</form>	
				<div class="nextBtn">
					<button class="btn btn-primary" (click)="nextProject(project.id)">Next project</button>
					<a class="btn btn-primary" (click)="prevProject(project.id)">Prev project</a>
					<button class="float-right btn btn-sm btn-danger" (click)="deleteProject(project.id,project.is_admin)">Delete</button>
				</div>	
			</div>	
	</div>	
</section>