.projectInfo{
	background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.status_panel .open{
	background: #80ca90;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 5px;
}
.status_panel .closed{
	background: #e0462d;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 5px;
}
.comment{
    max-height:450px;
    overflow-y: scroll; 
}
.comment .comment_list {
    list-style: none;
    padding-left:0px;
}

.comment .comment_list li{
    background: #E1EEF6;
    padding: 5px;
    border-radius: 5px;
    margin:5px 0px;
}
.comment .comment_list li .user_img {
    width: 30px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}