<section class="container-fluid">
	<div class="row">
		<div class="col-md-12">			
			<div class="projectInfo">
				<div class="status_panel">
				<div>
					<span [ngClass]="{'open':projects_status=='Open','closed':projects_status=='Closed'}">
						<p class="mb-0">{{projects_status}}</p>						
					</span>	
					<span class="ml-3 font13">This project is created by {{creator_name}} on {{project.startDate}}</span>				
					<span *ngIf='projects_status=="Closed"' class="float-right">
						<button class="btn btn-sm btn-primary">Reopen project</button>
					</span>
					<span *ngIf='project.is_admin=="true"' class="float-right">
						<button class="btn btn-sm btn-danger btn-primary">Delete project</button>
					</span>
				</div>
				</div>
				<h3>{{project?.title}} </h3>
				<p>{{project?.description}}</p>		
				<div *ngIf="history">
					<p *ngFor="let h of history">{{h}} </p>
				</div>
				<!-- <div class="comment">
					<ul class="comment_list">
						<li *ngFor="let comment of stateComment"><span class="user_img mr-2"><img src="{{comment?.user_image}}"></span><p [innerHtml]='comment.desc' class="d-inline-block ngWidth95"></p></li>
					</ul>
				</div>	
				<div class="commentBox">
					<h5>Write Comment</h5>
					<quill-editor (onContentChanged)="daa($event)" [(ngModel)]="data"></quill-editor>
					<button class="btn btn-success btn-sm mt-3" (click)="DoComment(project.id)">Comment</button>		
					<app-uploader (uploadComplete)="DoCommentWithAttachment($event)" [projectId]="project.id"></app-uploader>			
				</div> -->								
			</div>			
		</div>		
	</div>
</section>

