
.userDasboard{
    background:#302a42;
}
.dashboardInfo{
    background:#ECEFF1;
}
.dashboardMenu{
	background: #fff;
    box-shadow: -1px 3px 10px 0px;
    z-index: 107;
    position: relative;
    color: #eaeaea;
    padding: 24px;
    padding-top: 30px;
}
.dashboardMenu .navbar .navbar-nav .nav-item{
	margin-right:35px;   
}

.dashBoardsSideBar ul li .nav-link{
	padding: 1rem 1rem;
	color:#a098b9;
    font-size:13px;
}

.dashBoardsSideBar ul li .nav-link .caret-span{
    width:19px;
    height: 20px;
    text-align: center;
}

.dashBoardsSideBar .workspaceMenu{
    display: none;
}
.dashBoardsSideBar .workspaceMenu.is_active{
    display:block;
}

.dashBoardsSideBar ul li.ws_nav .nav-link{
    padding-left:30px;
}
.dashBoardsSideBar ul li.ws_nav_nav .nav-link{
    padding-left:49px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashBoardsSideBar ul li .nav-link:hover{
    background:#433a5d;    
}
.qty{
	background: #f4516c;
    color: #fff;
    border-radius: 100px;
    position: absolute;    
    right: 0;
    min-width: 25px;    
    min-height: 25px;    
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

.qty b{
	    vertical-align: -webkit-baseline-middle;
}

.dashBoardsSideBar ul{
    padding-left: 0px;
}


.dashBoardsSideBar ul.menu li{
    list-style: none;    
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #423b56;
}


.dashBoardsSideBar .userProfileimg{
    text-align: center;
    border-bottom: 1px solid #423b56;
    margin-bottom: 0px;
    padding-top:25px;
}
.dashBoardsSideBar .userProfileimg li{
 color:#fff;
}

.dashBoardsSideBar .userProfileimg .img{
     width:100px;
     border-radius: 100px;
     overflow: hidden;  
     display: inline-block;  
}

.dashBoardsSideBar .userProfileimg .img img{
    max-width: 100%;
   
}
.dashBoardsSideBar .logo .img img{
    max-width: 100%;
    width:200px;
}
.dashBoardsSideBar .logo .img{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.dashBoardsSideBar ul.logo li{
 border-bottom: 1px solid #423b56;
}

.b-col-423b56{
        border-color: #423b56;
}

.menu .nav-item.workspace{       
    max-height: 250px;
    overflow-y: scroll;
}