<section class="container-fluid p-0 userDasboard" #userDashboard>
	<div class="row m-0">
		<div class="col-md-2 p-0">
			<div class="dashBoardsSideBar">
				<ul class="logo">
					<li><span class="img"><a routerLink="/"><img src="assets/img/logo_white.png"></a></span></li>
				</ul>
				<ul class="userProfileimg">
					<ng-container *ngIf="user?.user_image">
					<li><span class="img"><img src="{{user?.user_image}}"></span></li>
					</ng-container>
					<ng-container *ngIf='!user?.user_image'>
						<li><span class="img"><img src="assets/img/no-img.png"></span></li>
					</ng-container>
					<li><p>{{user?.login_name}}</p></li>
					<li>{{user?.userEmail}}</li>
				</ul>
				<ul class="menu">
					<li class="nav-item active" >
				      <a class="nav-link" routerLink="dashboard"><fa-icon class="mr-2" [icon]="['fas', 'columns']" size="lg"></fa-icon>Dashboard
				      </a>
				    </li>
				    <li class="nav-item active">
				      <a class="nav-link" routerLink="dashboard"><fa-icon class="mr-2" [icon]="['fas', 'columns']" size="lg"></fa-icon>My profile
				      </a>
				    </li>
				   <!--  <li class="nav-item workspace"  slimScroll width="auto" height="250px" size="7px" color="#fff" alwaysVisible=true opacity=.6> -->
				    <li class="nav-item workspace">				    
				      <a class="nav-link" routerLink="workspace" (click)="getAlProjects()"><fa-icon class="mr-2" [icon]="['fas', 'newspaper']" size="lg"></fa-icon> Workspace				      
				      </a>
				      <hr class="m-0 b-col-423b56">
				      	<ul>
				    		<li ngbDropdown *ngFor="let ws of workspace">
				    			<a class="nav-link pl-4" routerLink="workspace/{{ws.id}}" (click)="getAlProjects()"><fa-icon class="mr-2" [icon]="['fas', 'circle']" size="sm"></fa-icon>{{ws.title}}
				    				<span class="float-right caret-span" *ngIf="showMenu==true && menuId==ws.id; else sortdown" (click)='openMenu(ws.id)'><fa-icon  [icon]="['fas', 'sort-down']" size="md"></fa-icon></span>
				    				<ng-template #sortdown> 
				    					<span class="float-right caret-span"  (click)='openMenu(ws.id)'><fa-icon  [icon]="['fas', 'caret-right']" size="md"></fa-icon></span>
				    				</ng-template>
				      			</a>
				      		<ul class="workspaceMenu" #workspaceMenu [ngClass]="{is_active:showMenu==true && menuId==ws.id}">
				      			<li class="ws_nav">
				      				<a class="nav-link" routerLink="user-project" (click)="getAlProjects(ws.id)"><fa-icon class="mr-2" [icon]="['fas', 'circle']" size="sm"></fa-icon>Projects</a>
				      				<ul>
				      					<li class="ws_nav_nav"><a routerLink="user-project/openProjects"  class="nav-link">Open Projects</a></li>
				      					<li class="ws_nav_nav"><a routerLink="user-project/closed-project" (click)="closedProjects()" class="nav-link">Closed Projects</a></li>
				      					<li class="ws_nav_nav"><a routerLink="user-project/trashedProjects" class="nav-link">Trashed Projects</a></li>
				      				</ul>
				      			</li>
				      		</ul>

				      	</li>				    		
				    	</ul>
				    </li>
			<!-- 	    <li class="nav-item">				    
				      <a class="nav-link" routerLink="user-project" (click)="getAlProjects()"><fa-icon class="mr-2" [icon]="['fas', 'newspaper']" size="lg"></fa-icon> Project
				      <span class="mr-2 qty"><b> {{projectCount}}</b></span>
				      </a>
				      <hr class="m-0 b-col-423b56">
				      	<ul>
				    		<li class="pl-4"><a class="nav-link" routerLink="user-project/openProjects" (click)="getAlProjects()"> Open Projects
				      		<span class="mr-2 qty"><b> {{projectCount}}</b></span>
				      		</a></li>
				    		<li class="pl-4"><a routerLink="user-project/closed-project" (click)="closedProjects()" class="nav-link">Closed projects</a></li>
				    		<li class="pl-4"><a routerLink="user-project/trashedProjects" class="nav-link">Trashed projects</a></li>
				    	</ul>
				    </li> -->
				    <li class="nav-item">
				      <a class="nav-link" routerLink="user-task"><fa-icon class="mr-2" [icon]="['fas', 'tasks']" size="lg"></fa-icon>Task
				      <span class="mr-2 qty"><b> {{task_count}}</b></span>
				      </a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" routerLink="user-team"><fa-icon class="mr-2" [icon]="['fas', 'users']" size="lg"></fa-icon>Team</a>
				    </li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 dashboardInfo p-0" #dashboardInfo>			
				<div class="innerHeader navbar mb-4">
					<h4 class="mb-0 navbar-brand">{{child_route_name}} </h4>
					<div class="float-right">
						<a href="javascript:void(0)" (click)=Logout()>Logout</a>
					</div>
				</div>						
			<router-outlet (activate)="activeRoute($event)" #view></router-outlet>
		</div>
	</div>	
</section>

