<section class="registration">			
			<ng-container *ngIf="isHome" else loginPage>				
					<div class="col-md-12 col-sm-12 homeLogin p-3 m-0 isHome">
						<h3 class="text-center mb-3 mt-1">Create free account</h3>						
						<form #f="ngForm" (ngSubmit)="getLogin(f)" novalidate>
							<div class="form-group">
								<label>User name</label>
								<input type="email" name="userEmail" class="form-control" required #homeLogin="ngModel" ngModel>
								<div  *ngIf="f.submitted">
									<div *ngIf='homeLogin.invalid' class="alert alert-danger mt-3 p-1 pl-2">
										<div *ngIf="homeLogin.errors.required">Name is required</div>									
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" name="userPassword" class="form-control" ngModel required #homePasword="ngModel">
								<div  *ngIf="f.submitted">
									<div *ngIf='homePasword.invalid' class="alert alert-danger mt-3 p-1 pl-2">
										<div *ngIf="homePasword.errors.required">Password is required</div>									
									</div>
								</div>
							</div>
							<div class="form-group text-center">
								<input type="submit" name="submit" value="Login" class="p-2 btn btn-primary submitBtn ngWidth50">								
							</div>
						</form>
						<app-googlelogin (userLogin)="getUserInfo($event)"></app-googlelogin>
						<div class="forgotPassword mt-3 text-center">
							<a routerLink="/login_help">Forgot password?</a>
						</div>
						<div class="regisLink mt-3 text-center">
							<a routerLink="/registration">Don't have account yet.Go to Registration</a>
						</div>
					</div>				
			</ng-container>
			<ng-container *ngIf="!isHome">
				<div class="container">
				<div class="row">	
				<div class="col-md-3">&nbsp;</div>
					<div class="col-md-6 col-sm-6 form-white mt-5">
						<h3 class="text-center mb-2 mt-2">User Login form</h3>
						<form (ngSubmit) = "getLogin(f)" #f=ngForm>
							<div class="form-group">
								<label>User name</label>
								<input type="email" name="userEmail" class="form-control" required ngModel #login='ngModel'>
								<div  *ngIf="f.submitted">
									<div *ngIf='login.invalid' class="alert alert-danger mt-3 p-1 pl-2">
										<div *ngIf="login.errors.required">Name is required</div>									
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" name="userPassword" class="form-control" ngModel required #password=ngModel>
								<div  *ngIf="f.submitted">
									<div *ngIf='password.invalid' class="alert alert-danger mt-3 p-1 pl-2">
										<div *ngIf="password.errors.required">Password is required</div>									
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" name="submit" class="form-control btn btn-primary">
							</div>
						</form>
						<app-googlelogin (userLogin)="getUserInfo($event)"></app-googlelogin>
						<div class="forgotPassword mt-3 text-center">
							<a routerLink="/login_help">Forgot password?</a>
						</div>
						<div class="regisLink mt-3 text-center">
							<a routerLink="/registration">Don't have account yet.Go to Registration</a>
						</div>
					</div>
				<div class="col-md-3">&nbsp;</div>
				</div>
				</div>
			</ng-container>
</section>	