.submitBtn{
	border-radius: 100px;
	border:none;
	background-color: #813772
}
.isHome{
	color: #000;
    /*box-shadow: -8px 15px 17px 0px;*/
}
.homeLogin.isHome{
	background-color: #505254;
	color:#fff;
}

.homeLogin.isHome .form-control{
	min-height: 50px;
}

.homeLogin.isHome .submitBtn{
	background:#86c232;
}

.homeLogin.isHome a{
	color:#fff;
}