<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="projectsList p-4">
					<ul class="pl-0 row">
						<ng-container *ngFor="let project of projectArr">									
							<li class="col-md-3">								
								<span class="list">
									<app-close-open-toggle [project]="project" [inSearchPage]="true"></app-close-open-toggle>
									<div class="title">										
										<h5 class="float-left  pl-3 pr-3 pt-0 pb-0">{{project?.title}}</h5>
										<ng-container *ngIf="project.is_admin == 'true'">
											<span  class="is_admin float-right"></span>
									</ng-container>
									</div>		
									<div class="clearfix"></div>							
									<p class="font12 pl-3 pr-3 pt-0 pb-0"><b>Started since:</b> <span>{{project?.startDate}} </span></p>
									<!-- <p class="font13">{{project?.description}}</p> -->
									<p class="font12 pl-3 pr-3 pt-0 pb-0"><b>Team: </b><ng-container *ngIf="project.total_member">
												<span *ngFor="let member of project?.total_member" class="teamMembers">
													<ng-container *ngIf="member.user_image; else noImage">
														<img src="{{member.user_image}}">
													</ng-container>
													<ng-template #noImage>
														<img src="assets/img/no-img.png">
													</ng-template>											
												</span>
										</ng-container>
									</p>
									<span class="countingInfo d-block">
										<span class="col-md-6 d-inline-block text-center">
											<p class="d-inline-block font12 mb-1">Total task</p>
											<p class="font12 count mb-1">{{project?.task_count}} </p>
										</span>
										<span class="col-md-6 d-inline-block text-center">
											<p class="d-inline-block font12 mb-1">Total member</p>
											<p class="font12 count mb-1">{{project?.member_count}} </p>
										</span>
										<!-- <span class="col-md-4 p-2 text-center">
											<p class="d-inline-block font12">Total admin</p>
										</span> -->
									</span>
									<span class="viewBtn d-block">
										<span class="col-md-6 d-inline-block text-center quickView p-0">
											<a routerLink="quickView/{{project?.id}}"class="d-block font12 p-2">Quick view</a>						
										</span>
										<span class="col-md-6 d-inline-block text-center detailsView p-0">
											<a routerLink='../../project/{{project.id}}' class="d-block font12 p-2">Get in</a>							
										</span>
										<!-- <span class="col-md-4 p-2 text-center">
											<p class="d-inline-block font12">Total admin</p>
										</span> -->
									</span>
								</span>
							</li>
						</ng-container>						
					</ul>
				</div>
			</div>
			<div *ngIf="projectArr.length ==0">
				<p>No results</p>
			</div>
		</div>
	</div>

	<app-pagination [ArrayData]='miniProjectArr' [itemPerpage]="5" (nextPage)="nextPages($event)"></app-pagination>
	<router-outlet></router-outlet>