.workspaceHeading{
	background:#fff;
}
.ws_list{
	list-style: none;
	padding-left: 0
}
.ws_list .ws{
	background: #fff;
    border-radius: 5px;
    display: block;
    /*padding: 12px 0px 0px 0px;*/
    margin: 10px 0px;
    box-shadow: 0 0 20px 0px;
    color: #dedede;
    position: relative;
}

.ws_list .ws .title{
	color:#000;
	padding:10px;
}
.ws_list .ws .viewBtn span a{
	background:#c1cca9;
	color: #302a42;
    text-decoration: none;
    font-weight: bolder;
}
.ws_list .ws .viewBtn span.quickView a{
	background:#afbf87;	
}


.ws_list .ws  .ws_dropDown{
	position: absolute;
    top: 34px;
    right: 0px;
    background: #fff;    
    z-index: 9999999999;
    padding:10px;
    box-shadow: 0px 0px 9px 0px;
    color:#ccc;
}
.ws_list .ws .dropDown{
	position: relative;
	cursor: pointer;
}
.ws_list .ws  .ws_dropDown ul{
	list-style: none;
	padding-left: 0px;
}
.ws_list .ws  .ws_dropDown ul li a{
	color:#000;
	text-decoration: none;
	font-size: 12px;
}

