<section class="container-fluid">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="workspaceHeading p-2">
				<div class="float-left">
					<h3 class="mb-0" *ngIf="workspace?.length > 1; else oneWorkspace">List of workspaces</h3>
					<ng-template #oneWorkspace>
						<h3 class="mb-0">List of workspace</h3>
					</ng-template>
				</div>
				<div class="float-right">
					<button class="btn btn-primary" (click)="addWorkspace()">Add workspace</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-12 mt-3">
			<ul class="ws_list row">
				<ng-container *ngIf="workspace">
					<li *ngFor="let ws of workspace" class="col-md-3">
						<span class="ws">
							<div class="title mb-5">										
								<h5 class="float-left  mb-0">{{ws?.title}}</h5>
								<span class="float-right dropDown" (click)="dropDownToggle(ws.id)">
									<fa-icon  [icon]="['fas', 'cog']" size="md"></fa-icon>
								</span>
								<!-- WORKSPACE LIST DROP DOWN -->
								<div class="ws_dropDown" *ngIf="dropdownShow && ws_id == ws.id">
									<ul>
										<li class="m-1"><a href="">Open workspace</a></li>
										<li class="m-1"><a href="">Add member</a></li>
										<li class="m-1"><a href="">Add project</a></li>
										<li class="m-1"><a (click)="deleteWorkspace(ws.id)">Delete workspace</a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<span class="viewBtn d-block">
								<span class="col-md-6 d-inline-block text-center quickView p-0">
									<a routerLink="quickView/{{project?.id}}"class="d-block font12 p-2">Quick view</a>
								</span>
								<span class="col-md-6 d-inline-block text-center p-0">
									<a routerLink="quickView/{{project?.id}}"class="d-block font12 p-2">Get in</a>
								</span>									
							</span>
						</span>						
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
</section>
