<div class="input-group mb-3">
  <div class="input-group-prepend ngPosRel">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleDropDown('project_search_by')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{serach_by_text}}</button>
    <div class="dropdown-menu d-block" *ngIf="showDropDown">
      <a class="dropdown-item" (click)="searchBy('project name')">Sarch by projects name</a>
      <a class="dropdown-item" (click)="searchBy('member name')">Sarch by member name</a>
      <a class="dropdown-item" (click)="searchBy('admin name')">Sarch by admin name</a>
      <a class="dropdown-item" (click)="searchBy('task name')">Sarch by task name</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
    <div class="input-group-prepend ngPosRel">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleDropDown('project_search_in')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{serach_in_text}}</button>
    <div class="dropdown-menu d-block" *ngIf="showDropDown_2">
      <a class="dropdown-item" (click)="searchIn('all projects')">Sarch in all projects</a>
      <a class="dropdown-item" (click)="searchIn('open projects')">Sarch in open projects</a>
      <a class="dropdown-item" (click)="searchIn('closed projects')">Sarch in closed projects</a>
      <a class="dropdown-item" (click)="searchIn('trashed projects')">Sarch in trashed projects</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" [(ngModel)]="keyWord" aria-label="Text input with dropdown button">
    <div class="input-group-prepend">
	    <button class="btn btn-outline-secondary" type="button" (click)="search(keyWord)">Button</button>	    
 	 </div>
</div>


