img{
    width:30px;
}
.projectQuickView{

	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000061;
    z-index: 999999999;
}
.view{
	background: #fff;    
    right: 0;
    left: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.quickView_heading .cross {
    cursor: pointer;
    font-size: 16px;
}

.quickView_heading{
     background: #f3f3f3;    
    border-bottom: 1px solid #eceaea;
}
.addBtn img{
    width:25px;
}
.addBtn{
    /*background: #f3f3f3;*/
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
    color: #302a42;

   }
   .projectInfo .desc{
        font-size:14px;
        width:90%;
   }
.projects_member .eachmember span.img,.projects_admin .eachmember span.img{
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.projects_member .eachmember span.cross,.projects_admin .eachmember span.cross{
    color:#ff2f52;
    cursor: pointer;
}
.projects_member .eachmember,.projects_admin .eachmember{
    background: #f5f5f5;
    padding: 5px;
}
.memberContainer{
    max-height: 200px;
    overflow-y: scroll;
}