<p>
  {{workspace?.id}}
</p>
<section class="container">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" (click)="addProject()">Add project</button>
		</div>
	</div>
</section>
