	<ng-container *ngFor="let project of projectList">
				<div class="col-md-12 p-0">	
					<div class="projectList">
						<p class="projectTitle">{{project?.title}} <a class="viewProject" (click)="openProject(project?.id)">View</a></p>
											
					</div>
				</div>
	</ng-container>	

