.projectList{
	    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px;
    color: #f1f1f1;
    padding: 10px;
    margin:5px 0px;
}

.projectList .projectTitle{
	color:#000;
	width:100%;
}
.projectList .viewProject{
	background: #4696e7;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    padding: 3px 10px;
    float: right;

}