.projectInfo{
	background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.status_panel .open{
	background: #80ca90;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 5px;
}
.status_panel .closed{
	background: #e0462d;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 5px;
}