<section class="text-center">
	<button class="btn btn-primary googleBtn" id="googleLoginBtn" (click)="socialSignin()"><img src="assets/img/logo.png"><span class="mr-2">Sign in with Google </span></button>	
</section>
