/*@import url('/assets/img/google_btn/btn_google_signin_dark_normal_web.png')*/
/*#googleLoginBtn img{	
	content:url('/assets/img/google_btn/btn_google_signin_dark_normal_web.png');	
}*/
/*#googleLoginBtn img:hover{

}
*/
.googleBtn{
	border-radius: 100px;
    border: none;
    background: #ffffff;
    color: #222629;
    padding: 8px 5px;
}
.googleBtn img{
	width: 25px;
}