.paginationContainer{
	position: absolute;
	bottom: 5%;
	left:0;
	right: 0
}

.pagination{
	padding: 0px;
	display: inline-block;
}
.pagination li{
list-style: none;
    float: left;
    margin: 5px;
    cursor: pointer;
    /* padding: 5px 13px; */
    border: 1px solid #000;
    border-radius: 100px;
    min-height: 35px;
    min-width: 35px;
    /* vertical-align: unset; */
    /* display: inline-block; */
    padding-top: 4px;
}
.pagination li.active{
    background: #302a42;
    color: #fff;
    border: 1px solid #302a42;
}
.pagination li:hover{
    background: #302a42;
    color: #fff;
    border: 1px solid #302a42;
}