<section class="container paginationContainer">
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="pagination">
				<ng-container *ngIf="paginationArray">
					<ng-container *ngFor="let pagination of paginationArray">					
						<li  (click)="paginate(pagination.number,pagination.id)" [ngClass]="{'active':pagination.active}" >{{pagination.number}}</li>					
					</ng-container>
				</ng-container>
			</ul>
		</div>
	</div>
</section>
