.ngViewBtn{
	color:#fff;
	background:#4563f7;
	border-radius: 100px;
	padding:5px 8px;
	cursor: pointer;
}
.ngViewBtn:hover{
	background:#314aca;
}
.dashboardSection{
	background:#fff;
	border-radius:5px;
	padding:1rem;
}

.dashboardSectionHeader p{
	    font-size: 18px;
	    margin-bottom: 0px;
}
.dashboardSectionHeader hr{
	margin: 10px 0px;
	border-top: 1px solid rgb(236, 239, 241);
}
.projectList{
	font-size:14px;
}
.projectsList ul li{
	list-style: none;
	min-width: 317px
}

.projectsList ul li .list{
	background: #fff;
    border-radius: 5px;
    display: block;
    padding: 12px 0px 0px;
    margin: 10px 0px;
    box-shadow: 0 0 20px 0px;
    color: #dedede;
    position: relative;
	
}
.projectsList ul li .list .title h5{
    display: inline-block;
    width: 95%;
    color:#000;
}
.projectsList ul li .list .is_admin{
	width:10px;
	height: 10px;
	border-radius: 100px;
	background:#a6d27e;
	border:none;
	position: absolute;
	top:12px;
	right: 12px;
}

.projectsList ul li .list p,.projectsList ul li .list h4 {
	color:#302a42;
}

.projectsList ul li .teamMembers {
	width:30px;
	border-radius: 100px;
	overflow: hidden;
	display: inline-block;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.countingInfo{
	background:#e8efdb;
	color:#fff;
	font-weight: bolder;
}

.countingInfo span .count{
	font-size:20px;
	font-weight: bolder
}
.viewBtn .quickView{
	background:#afbf87;
}
.viewBtn .detailsView{
	background:#c1cca9;
}
.viewBtn span a{
	color:#302a42;
	text-decoration: none;
	font-weight: bolder;
}
.projectQuickView{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 75%;
    right: 0;
    background: #fff;
    z-index: 999999999;
}
.quickViewSideBar{
	position: fixed;
    top: 40px;
    bottom: 0;
    background: #fff;
    right: 0px;
    width: 300px;
    transition: width 0.3s;
    background: #fafafa;
    z-index: 200;
    overflow: hidden;
}
.projectContainer{
	width: calc(100% - 300px);
	overflow-x: scroll; 
}
.innerProject{
	width:calc(100%);
	max-height:500px;
	overflow-y: scroll; 
}