<app-loader></app-loader>
<app-header (isLogout)=logout($event) [isLogin]=isLogin [userId]=userId *ngIf="!inDashboard"></app-header>	
		<router-outlet (activate)="onActivate($event)" ></router-outlet>  
		
			<app-modal></app-modal>	 
		   
<app-footer></app-footer>

