<section class="forgotPassword">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				&nbsp;
			</div>
			<div class="col-md-6">
				<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="mt-5">					
					<div class="form-group">
						<label>Enter your email</label>
						<input type="email" name="email" ngModel class="form-control" required>
					</div>
					<div class="form-goup">
						<input type="submit" name="submit" class='form-control btgn btn-primary'>	
					</div>			
				</form>
				<div *ngIf="showMessage">
					<ng-container *ngIf="emailFound">
					<div class="message text-center mt-3 alert alert-success" >
						<p class="mb-0">{{message}}</p>
					</div>
					</ng-container>
					<ng-container *ngIf="!emailFound">
						<div class="message text-center mt-3 alert alert-danger">
							<p class="mb-0">{{message}}</p>
						</div>
					</ng-container>
				</div>				
			</div>
		</div>
	</div>
</section>