<div id="app-modal" class="text-center"  *ngIf="modalOpen">
	<!-- ADD PROJECT MODAL -->
	<section class="addProject col-md-6 pt-5 d-inline-block" *ngIf="showModalContent == 'add-project'">
		<div class="form-white text-left">
			<span class="float-right cross" (click)="close()"><fa-icon [icon]="faTimes"></fa-icon></span>
			<form (ngSubmit)=addProject(f) #f=ngForm >
				<div class="form-group">
					<label>Project name</label>
					<input type="text" name="projectTitle" ngModel required #title="ngModel" class="form-control" >
					<div  *ngIf="f.submitted">
						<div *ngIf='title.invalid' class="alert alert-danger mt-3 p-1 pl-2">
							<div *ngIf="title.errors.required">Title is required</div>									
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Project Description</label>
					<textarea class="form-control" name="desc" ngModel></textarea>
				</div>
				<div class="form-group">
					<label>Set a Due date</label>
					<input type="date" name="dueDate" required #dueDate="ngModel" class="form-control" ngModel>
					<div  *ngIf="f.submitted">
						<div *ngIf='dueDate.invalid' class="alert alert-danger mt-3 p-1 pl-2">
							<div *ngIf="dueDate.errors.required">Due date is required</div>									
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="checkbox" name="isPublic" ngModel class="mr-2"> 
					<label>Project is public</label>				
				</div>
				<div class="form-group">
					<input type="submit" name="Submit" value="Submit"  class="btn btn-primary d-block m-auto btn-lg">
				</div>		
			</form>
		</div>
	</section>

	<!-- ADD WORKSPACE MODAL  -->

	<section class="addProject col-md-6 pt-5 d-inline-block" *ngIf="showModalContent == 'add-workspace'">
		<div class="form-white text-left">
			<span class="float-right cross" (click)="close()"><fa-icon [icon]="faTimes"></fa-icon></span>
			<form (ngSubmit)=addWorkSpace(f) #f=ngForm >
				<div class="form-group">
					<label>Workspace name</label>
					<input type="text" name="ws_title" ngModel required #title="ngModel" class="form-control" >
					<div  *ngIf="f.submitted">
						<div *ngIf='title.invalid' class="alert alert-danger mt-3 p-1 pl-2">
							<div *ngIf="title.errors.required">Title is required</div>									
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Wokspace Description</label>
					<textarea class="form-control" name="ws_desc" ngModel></textarea>
				</div>	
				<div class="form-group">
					<input type="submit" name="Submit" value="Submit"  class="btn btn-primary d-block m-auto btn-lg">
				</div>		
			</form>
		</div>
	</section>
</div>