<section class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="comment projectInfo">
				<ul class="comment_list">
					<li *ngFor="let comment of stateComment"><span class="user_img mr-2"><img src="{{comment?.user_image}}"></span><p [innerHtml]='comment.desc' class="d-inline-block ngWidth95"></p></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<div class="commentBox">
				<h5>Write Comment</h5>
				<quill-editor (onContentChanged)="pushComment($event)" [(ngModel)]="data"></quill-editor>
				<button class="btn btn-success btn-sm mt-3" (click)="DoComment(project.id)">Comment</button>		
				<app-uploader (uploadComplete)="DoCommentWithAttachment($event)" [projectId]="project.id"></app-uploader>	
			</div>
		</div>
	</div>
</section>