/* You can add global styles to this file, and also import other style files */
body{
	font-family: 'Open Sans', sans-serif !important;
}
body.management{
	/*background-color: #f5f5f5;	*/
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
}
img{
	max-width:100%;
}


.form-white{
	background: #fff;
    padding: 15px 20px;
    margin: 10px;    
    border-radius:3px;
}
form .form-control{
	border:1px solid #ccc;
	min-height: 40px;
	border-radius: 0px;
}
.ngUl{
	padding-left: 0px;
}
.ngUl li{
	list-style: none;
	padding:5px;
	clear: both;
}
.ngUl li:after{
	clear:both;
	display: block;
	content: ""
}
.ngUl li a{
	text-decoration: none;
}
.ngUlfleft li{
	float: left;
	margin:5px;
}
.ngItemListContainer{
	/*background-color: #fff;*/	
	border-radius: 5px;
	max-height: 400px;
	overflow-y: scroll;
}
.ngItemLis{
	background: #fff;
    box-shadow: 0 0 4px 1px;
    color: #ececec;
    padding: 1rem;
    border-radius: .25rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
}
.backWhite{
	background-color: #fff;

}
.borderBottom{
	border-bottom: 1px solid #e5e5e5;
}

.dBlock{
	display: block
}
.dInlineBlock{
	display: inline-block !important;
}
.ngWidth50{
width:50% !important;
}
.ngWidth95{
	width:95% !important;
}

.color444{
	color:#444444;
}

/*footer{
	background-color:#000;
	color:#fff;
	min-height: 100px;
	position: fixed;
	bottom: 0px;
	left:0px;
	right: 0px;
}*/
.ngTab ul {
	padding-left: 0px;
	list-style: none;
}
.ngTab ul li{
	background: #fff;    
    box-shadow: 0 0 4px 1px;
    color: #f1f1f1;
    padding: 20px;
    margin: 5px 0px;
	cursor: pointer;
}
.ngTab ul li.active{
	background: #4563f7;	
}
.ngTab ul li.active a{
color:#fff;
}
.ngTab ul li a{
	text-decoration: none;
	color:#000;
	font-weight: bolder;
}
.ngTab .tabHeading,.ngTabContent .tabHeading{
	background: #4563f7;
    color: #fff;
    padding: 15px; 
}

#googleLoginBtn img{	
	content:url('/assets/img/google_btn/btn_google_signin_dark_normal_web.png');
	cursor: pointer;	
}

#googleLoginBtn img:hover{	
	content:url('/assets/img/google_btn/btn_google_signin_dark_focus_web.png');	
}

#googleLoginBtn img:active{
	content:url('/assets/img/google_btn/btn_google_signin_dark_pressed_web.png');	
}

/*USER DASH BOARD GLOBAL CSS*/
.dashboardSection{
	background:#fff;
	border-radius:5px;
	padding:1rem;
}

.dashboardSectionHeader p{
	    font-size: 18px;
	    margin-bottom: 0px;
}
.dashboardSectionHeader hr{
	margin: 10px 0px;
	border-top: 1px solid rgb(236, 239, 241);
}
.small{
	font-size: 14px;
	color:#666;
}
.innerHeader{
    border: 0;
    font-size: 16px;
    border-radius: 0;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
}
.font12 {
	font-size:12px;
}
.font13{
	font-size:13px;
}

.ngPosRel{
	position: relative;
}