.userDashboard .userInfo{
	background:#fff;
	border-radius: 5px;

}

.userDashboard .userInfo .profileImg{
	width:150px;
	border-radius:100px;
	overflow: hidden;
	display: inline-block;
}
.userDashboard .userInfo .profileImg img{
	max-width:100%;
}

.userDashboard .userInfo .imgSection{
	background:#4696e7;
	color:#fff;
}

.addProjectForm{
	display:none;
}

.userImg .imgContainer{
	width: 100px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
}
