<!-- <section class="userDashboard">
		<div class="container">
			<div class="userInfo mt-3">
				<div class="row">					
						<div class="col-md-4 imgSection p-3 text-center">
							<div class="profileImg">								
								<img src="assets/img/no-img.png">
							</div>
							<div class="info">
								<h3 class="name mt-2">{{user.login_name}}</h3>
								<p>{{user?.userEmail}} </p>
							</div>							
						</div>
						<div class="col-md-8 infoSection p-3 backWhite">
							<p><span><b>User nice name :</b></span>{{user?.user_nicename}} </p>
							<p><span><b>User email :</b></span>{{user?.email}} </p>							
						</div>
					</div>
			</div>		
	</div>
</section> -->
<section class="userDashboard container-fluid">
	<div class="banner" [style.background]="'url('+imageUrl+')'"></div>
	<div class="row">
		<div class="col-md-5">
			<div class="dashboardSection">
				<div class="dashboardSectionHeader">
					<p>User Details</p>
					<hr>
				</div>
				<div class="dashboardContent">
					<div class="userImg text-center">
						<span class="imgContainer" *ngIf="user?.user_image; else noImage"><img src="{{user?.user_image}}"></span>
						<ng-template #noImage><span class="imgContainer"><img src="assets/img/no-img.png"></span></ng-template>
						<p class="small"><span>Member since:</span> {{user_member_since}}</p>
					</div>
					<hr>
					<div class="userInfo text-center">
						<h4>{{user?.login_name}}</h4>
						<p>{{user?.email}} </p>
					</div>					
				</div>
			</div>
		</div>
		<div class="col-md-7">
			
		</div>
	</div>
</section>
