<app-banner></app-banner>
<section class="homeProjectList mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <router-outlet></router-outlet> -->
			</div>	
		</div>
		<h4>Public Project List</h4>
				<hr class="heading">
		<div class="row">			
			<div class="col-md-3">
				<div class="ngTab">
					<div class="mb-2 tabHeading">
						<p class="mb-0">Project by time</p>
					</div>
					<ul>
						<li *ngFor="let i of tab" #ngTab><a href="#">{{i.text}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="ngTabContent">
					<div class="mb-2 tabHeading">
							<p class="mb-0">Project list <span class="float-right">Select by date <label for="ngHomeDate">Date</label> <input type="date" id="ngHomeDate" name=""></span></p>
					</div>
					<div>
						<app-tab-component [projectList]=projectArrMutate></app-tab-component>
					</div>
				</div>
			</div>			
		</div>		
	</div>
</section>